/* Global settings */

html, body {
padding: 0;
margin: 0;
}
@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Regular'), url('fonts/MYRIADPRO-REGULAR.woff') format('woff');
}
@font-face {
font-family: 'Myriad Pro Condensed';
font-style: normal;
font-weight: normal;
src: local('Myriad Pro Condensed'), url('fonts/MYRIADPRO-COND.woff') format('woff');
}
.wrapper {
width: 1852px;
height: 1150px;
margin: 0 auto;
background-color: RGB(237, 237, 237);
position: relative;
}

/* Header area is located below */

.header {
	width: 1852px;
	height: 140px;
	background-color: #474747;
	box-shadow: 1px 2px 0px 0px #ffffff;
	position: relative;
	top: 108px;
}
.header_logo {
	background-color: #2f549b;
	box-shadow: 1px 2px 9px 0px rgba(19, 19, 19, 0.55);
	width: 450px;
	height: 159px;
	position: absolute;
	top: 98px;
	left: 976px;
}
.text_header {
	width: 487px;
	height: 78px;
	font-family: 'Myriad Pro Condensed';
	color: #c7c7c7;
	font-size: 30px;
	line-height: 40px;
	text-align: left;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 437px;
	bottom: 0px;
	margin: auto;
}
.dc_logo {
	width: 62px;
	height: 71px;
	position: absolute;
	top: 42px;
	left: 55px;
	float: left;
}
.dc_logo_text1 {
	font-family: 'Myriad Pro Condensed';
	color: #ffffff;
	font-size: 85px;
	line-height: 67px;
	text-align: left;
	position: absolute;
	top: 40px;
	left: 148px;
	float: left;
}
.dc_logo_text2 {
	font-family: 'Myriad Pro Condensed';
	color: #c7c7c7;
	font-size: 34px;
	line-height: 32px;
	text-align: left;
	position: absolute;
	top: 43px;
	left: 325px;
}

/* Content area is located below */

.content_1, .content_2, .content_3, .content_4 {
	width: 228px;
	height: 394px;
	float: left;
	border: 1px solid transparent;
	background-color: #ffffff;
	box-shadow: 0px 1px 1px 0px rgba(19, 19, 19, 0.25);
	position: absolute;
}
.content_1 {
	top: 323px;
	left: 436px;
}
.content_2 {
	top: 323px;
	left: 686px;
}
.content_3 {
	top: 323px;
	left: 936px;
}
.content_4 {
	top: 323px;
	left: 1186px;
}
.content_1:hover, .content_2:hover, .content_3:hover, .content_4:hover {
	border-style: solid;
	border-width: 1px;
	border-color: #35476a;
	box-sizing: border-box;
	background-color: #2f549b;
}
.content_1:hover .content_text, .content_2:hover .content_text, .content_3:hover .content_text, .content_4:hover .content_text {
	color: #ffffff;
	/* letter-spacing: -0.72px; */
}
.content_1:hover .content_text2, .content_2:hover .content_text2, .content_3:hover .content_text2, .content_4:hover .content_text2 {
	color: #ffffff;
}
.content_1:hover .content_text3, .content_2:hover .content_text3, .content_3:hover .content_text3, .content_4:hover .content_text3 {
	color: #7c9cdb;
}
.content_1:hover .content_hr, .content_2:hover .content_hr, .content_3:hover .content_hr, .content_4:hover .content_hr {
	background-color: rgba(226, 226, 226, 0.3);
}
.directory, .real_estate, .employment, .deals, .content_text, .content_text2, .content_text3, .content_link, .content_hr {
	position: absolute;
	z-index: 2;
}
.directory {
	width: 86px;
	height: 68px;
	top: 24px;
	left: 71px;
}
.real_estate {
	width: 97px;
	height: 88px;
	top: 20px;
	left: 66px;
}
.employment {
	width: 118px;
	height: 84px;
	top: 31px;
	left: 59px;
}
.deals {
	width: 105px;
	height: 70px;
	top: 33px;
	left: 63px;
}
.content_text, .content_text2 {
	width: 100%;
	font-family: 'Myriad Pro Regular';
	color: #2f549b;
	font-size: 36px;
	font-weight: 400;
	line-height: 40px;
	text-align: center;
	transform: scaleY(1.0001);
}
.content_text {
	top: 125px;
}
.content_text2 {
	top: 172px;
	font-size: 14px;
	line-height: 17.999px;
}
.content_text3 {
	font-family: 'Myriad Pro Regular';
	color: #5e5e5e;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-align: center;
	transform: scaleY(1.0001);
	top: 242px;
	margin: auto;
	left: 0; right: 0;
}
.content_link {
	text-align: center;
	top: 351px;
	margin: auto;
	left: 0; right: 0;
}
.content_link a {
	font-family: 'Myriad Pro Regular';
	color: #c7c7c7;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	text-decoration: underline;
}
.content_hr {
  background-color: rgba(226, 226, 226, 0.9);
  width: 90px;
  height: 1px;
  top: 226px;
  margin: auto;
  left: 0; right: 0;
  border: none;
}
/* Footer is located below */

.bb_top{
	background-color: #2f549b;
	width: 259px;
	height: 60px;
	position: absolute;
	top: 765px;
	left: 796px;
	float: left;
	z-index: 3;
}
.footer {
	width: 1000px;
	height: 178px;
	position: relative;
	top: 661px;
	left: 426px;
	display: inline-block;
}
.bb_1 {
	width: 370px;
	height: 178px;
	position: relative;
	float: left;
	z-index: 1;
}
.bb_2{
	width: 630px;
	height: 178px;
	position: relative;
	float: left;
	z-index: 2;
}
.cc {
	width: 50px;
	height: 49px;
	position: absolute;
	z-index: 2;
	top: 44px;
	left: 75px;
	float: left;
}
.so {
	width: 46px;
	height: 46px;
	position: absolute;
	z-index: 2;
	top: 46px;
	left: 237px;
	float: left;
}
.cnd {
	width: 52px;
	height: 41px;
	position: absolute;
	z-index: 3;
	top: 50px;
	left: 392px;
	float: left;
}
.contact {	
	width: 49px;
	height: 37px;
	position: absolute;
	z-index: 3;
	top: 55px;
	left: 553px;
	float: left;
}
.buy {	
	width: 48px;
	height: 41px;
	position: absolute;
	z-index: 3;
	top: 54px;
	left: 713px;
	float: left;
}
.osb {	
	width: 42px;
	height: 40px;
	position: absolute;
	z-index: 3;
	top: 52px;
	left: 881px;
	float: left;
}
.osb2 {	
	width: 15px;
	height: 13px;
	position: absolute;
	z-index: 4;
	top: 60px;
	left: 892px;
	float: left;
}
